.DS_Store
*/randomiser.ipynb
randomiser.ipynb
/*/.ipynb_checkpoints
/*/.jupyter
Week 4/full_data.json
Week 4/prep.ipynb
.ipynb_checkpoints/randomiser-checkpoint.ipynb
.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
